#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  background-color: #db8876;
  width: 40rem;
  padding: 2em;
  z-index: 5;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 50px;
  font-weight: normal;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3rem;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/* new-line  */
.photograph-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.photograph-info {
  display: flex;
  flex-flow: column nowrap;
}

.photograph-img {
  height: 15rem;
  width: 15rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.photograph-zone {
  color: #901c1c;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.modal-close {
  border: none;
  background-color: #db8876;
}

.modal::backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.1);
}

.modal-submit {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  padding: 1.1rem;
  width: 10rem;
  height: 4rem;
  border: none;
  background-color: #901c1c;
  border-radius: 0.5rem;
  cursor: pointer;
}
.media-card-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}
.media-card-title {
  max-width: 80%;
  font-weight: 400;
  font-size: 1.5rem;
  color: #911c1c;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.media-like-container {
  display: flex;
  flex-flow: row nowrap;
}
.media-like-count {
  font-weight: 400;
  font-size: 1.5rem;
  margin-right: 0.2em;
  color: #911c1c;
}
.media-like-button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: #911c1c;
  cursor: pointer;
}
